header{
    margin-top: 20px;
}
.header{
    &_logo{
        align-items: flex-start;
        margin-right: 215px;
        width: 195px;
        display: inline-flex;
        gap: 8px;
        @media (max-width: 426px) {
            width: 171px;
        }
    }
    &_logo_name{
        margin-top: 8px;
        width: 140px;
        height: 32px;
    }
    &_menu{
        display: flex;
        align-items: center;
        @media (max-width: 426px) {
            display: none;
        }
    }
    &_ul, &_ul_two{
        gap: 48px;
        display: inline-flex;
        align-items: center;
        max-width: 610px;
        padding: 0;
            @media (max-width: 426px) {
                max-width: 305px;
        }
    }
    &_ul_two{
        padding-left: 65px;
    }
    &_ul li, &_ul_two li{
        list-style: none;
    }
    
    &_ul li a, &_ul_two li a{
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 14px;
    }
    &_ul li a:hover{
        color: var(--theme-black, #221817);
        font-family: Nunito Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
        text-transform: uppercase;
    }
    &_ul li .a_white{
        color: black;
    }
    &_ul_two li .plenet{
        gap: 8px;
        font-size: 13px;
        display: flex;
        align-items: center;
        padding-top: 2px;
    }
    .planet p{
        padding: 0 8px;
        text-transform: none;
        font-weight: 400;
    }
    &_ul_two li .sign{
        align-items: center;
        font-size: 18px;
        border-radius: 0px 24px;
        background: var(--background-white, #FFF);
        display: flex;
        padding: 12px 24px;
        margin-left: -24px;
        color: #221817;
        font-weight: 800;
        gap: 8px;
    }
    &_ul_two li .sign svg{
        padding-left: 8px;
    }

    @media (max-width: 426px) {
        margin: 0 24px;
    }
}
